


<div class="infinite-table">
  <table>
    <tr>
      <th>Lesson</th>
      <th></th>
    </tr>
    <%= render :partial => 'messages', :object => @messages %>
  </table>
  <p class="pagination">
    <%= link_to_next_page(@messages, 'Next Page', :remote => true) %>
  </p>
</div>




<%= link_to "new message", new_message_path
%>
<%= link_to "Add friend", friends_path
%>
<%= link_to "Sent Messages", message_sent_path
%>


