

<div class="infinite-table col-sm-4 col-md-4 col-md-offset-4">
  <table class="table">
    <thead>
      <tr>
        <th>From</th>
        <th>Time</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tr>

    <%= render :partial => 'messages', :object => @messages %>    
  </tr>
  </table>
  <p class="pagination">
    <%= link_to_next_page(@messages, 'Next Page', :remote => true) %>
  </p>
</div>




<%= link_to "new message", new_message_path
%>
<%= link_to "Add friend", friends_path
%>
<%= link_to "Sent Messages", message_sent_path
%>


