<!DOCTYPE html>
<html>
<head>
  <title>Homework2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if session[:userid] %>
  Welcome
  <%= User.find(session[:userid]).name%>
  <%= link_to "logout", logout_path %><br>
<% else %>
  <div class="login-form">
    <%= form_for(:session, :url => login_path) do |f| %>
      <div class="form-group">
        <%= f.text_field 'email', class: 'form-control', placeholder: 'Your E-mail' %>
      </div>
        <div class="form-group">
          <%= f.password_field 'password', class: 'form-control', placeholder: 'Password' %>
        </div>
      <div class="form-group">
          <%= f.submit 'Sign In', class: 'btn btn-block btn-info' %>
      </div>
    <% end %>
<% end %>


<%= yield %>





</body>
</html>
